
.container-fluid{
    width: 60%;
    height: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: orange;
  }
  
  .card{
    width: 50%;
    height: 70%;
    margin: auto;
    margin-top:  20px;
  }

  .card-body{
    display: grid;
    grid-template-rows: auto auto auto auto;
    
  }

